<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="w-full flex">
  <!-- <app-header></app-header> -->
  <div class="w-auto bg-gray-500">
    <app-sidebar></app-sidebar>
  </div>

  <!--Breadcrumbs  -->
  <!-- <app-breadcrumbs></app-breadcrumbs> -->
  <!-- Mi sistema de rutas -->
  <div class="w-full">
    <div class="fade-in-out" [@fadeAnimation]="getRouteAnimation(outlet)">
      <router-outlet #routerOutlet="outlet"></router-outlet>
      <!-- <div class="">
      <router-outlet></router-outlet> -->
    </div>
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- <footer class="footer">© 2021 Admin Pro by wrappixel.com</footer> -->
    <!-- ============================================================== -->
    <!-- End footer -->
  </div>
</div>

<!-- <app-modal-image></app-modal-image> -->
<!-- <app-modal-image></app-modal-image> -->
