<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="w-full flex">
  <!-- <app-header></app-header> -->
  <div class="w-1/3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="w-full">
    <div class="">
      <!--Breadcrumbs  -->
      <!-- <app-breadcrumbs></app-breadcrumbs> -->
      <!-- Mi sistema de rutas -->
      <router-outlet></router-outlet>

      <!-- <div class="flex-row">
        <div class="w-full">
          <div class="border-2 border-blue-500">
            <div class="border-2 border-red-200"></div>
          </div>
        </div>
      </div> -->
    </div>
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- <footer class="footer">© 2021 Admin Pro by wrappixel.com</footer> -->
    <!-- ============================================================== -->
    <!-- End footer -->
  </div>
</div>

<!-- <app-modal-image></app-modal-image> -->
<!-- <app-modal-image></app-modal-image> -->
