<div class="flex flex-col p-8 w-full sm:whitespace-normal md:whitespace-nowrap">
  <!--!-------------------------- Products table--------------------------------- -->
  <!--!-------------------------- Products table--------------------------------- -->
  <div>
    <table>
      <thead>
        <tr class="text-slate-200 bg-gray-500">
          <th class="border-x-2 border-t border-slate-200">Product Number</th>
          <th class="border-x-2 border-t border-slate-200">Make</th>
          <th class="border-x-2 border-t border-slate-200">Model</th>
          <th class="border-x-2 border-t border-slate-200">Description</th>
          <th class="border-x-2 border-t border-slate-200">Price</th>
          <th class="border-x-2 border-t border-slate-200">Stock Amount</th>
          <th class="border-x-2 border-t border-slate-200">OS</th>
          <th class="border-x-2 border-t border-slate-200">Disadvantage</th>
          <th class="border-x-2 border-t border-slate-200">Screen Size</th>
          <th class="border-x-2 border-t border-slate-200">Stock Code</th>
          <th class="border-x-2 border-t border-slate-200">Editar stock</th>
        </tr>
      </thead>
      <tbody class="h-full">
        <tr
          *ngFor="let product of products; let i = index"
          class="text-center text-slate-700 bg-slate-200 w-full"
        >
          <td class="border-2 border-slate-300">{{ i + 1 }}</td>
          <td class="border-2 border-slate-300">{{ product.make }}</td>
          <td class="border-2 border-slate-300">{{ product.model }}</td>
          <td class="border-2 border-slate-300">{{ product.description }}</td>
          <td class="border-2 border-slate-300">
            {{ product.price }}
          </td>
          <td class="border-2 border-slate-300">{{ product.stockAmount }}</td>
          <td class="border-2 border-slate-300">{{ product.OS }}</td>
          <td class="border-2 border-slate-300">{{ product.disadvantage }}</td>
          <td class="border-2 border-slate-300">{{ product.screenSize }}</td>
          <td class="border-2 border-slate-300">{{ product.stockCode }}</td>
          <div
            class="flex border-y border-slate-300 space-x-8 items-end px-2 w-full h-full"
          >
            <!-- !-------------------Aditional row for inventory controllers -------------------------! -->
            <!-- !-------------------Aditional row for inventory controllers -------------------------! -->
            <div class="flex flex-col justify-between items-center py-4">
              <mat-form-field class="w-16">
                <input
                  matInput
                  type="number"
                  [(ngModel)]="product.amountToAdd"
                  placeholder="0"
                />
              </mat-form-field>
              <mat-icon
                (click)="addProduct(product.id ?? '', product.amountToAdd ?? 0)"
                >add</mat-icon
              >
            </div>
            <div
              class="w-[50%] flex flex-col justify-between items-center py-4"
            >
              <mat-form-field class="w-16 flex">
                <input
                  matInput
                  type="number"
                  [(ngModel)]="product.amountToDecrease"
                  placeholder="0"
                />
              </mat-form-field>
              <!-- (click)="removeProduct(product.id ?? '', amountToAdd ?? 0)" -->
              <mat-icon
                (click)="
                  decreaseProduct(
                    product.id ?? '',
                    product.amountToDecrease ?? 0
                  )
                "
                >remove</mat-icon
              >
            </div>
            <!-- <mat-icon>remove</mat-icon> -->
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex items-center w-full justify-center space-y-4 px-3 py-2">
    <!-- !Button to hide/show the form to add new products -->
    <!-- !Button to hide/show the form to add new products -->
    <button
      class="bg-slate-500 hover:bg-slate-400 border-2 border-slate-200 hover:border-slate-400 font-semibold hover:font-bold text-md px-6 my-2 py-2 text-slate-200 transition duration-200 transform ease-in-out hover:scale-125"
      (click)="toggleOpen()"
    >
      New
    </button>
  </div>
  <div
    class=""
    *ngIf="isOpen"
    class="flex flex-col p-8 w-full bg-slate-300 justify-center"
  >
    <!--!------------------------------------------ Form to add new peoducts---------------------! -->
    <!--!------------------------------------------ Form to add new peoducts---------------------! -->
    <form
      [formGroup]="productForm"
      (ngSubmit)="createProduct()"
      autocomplete="off"
      class="grid grid-cols-2 gap-4 text-slate-700"
    >
      <div class="flex flex-col">
        <label for="make" class="font-semibold text-md">Marca</label>
        <input
          placeholder="Nombre"
          class="focus:outline-none focus:border-blue-500"
          id="make"
          formControlName="make"
          type="text"
        />
        <span
          *ngIf="
            productForm.controls['make'].invalid &&
            productForm.controls['make'].touched
          "
        >
          Make is required.
        </span>
      </div>
      <div class="flex flex-col">
        <label for="model" class="font-semibold text-md">Model</label>
        <input id="model" type="text" formControlName="model" />
      </div>
      <div class="flex flex-col">
        <label for="description" class="font-semibold text-md"
          >Description</label
        >
        <input id="description" type="text" formControlName="description" />
      </div>
      <div class="flex flex-col">
        <label for="price" class="font-semibold text-md">Price</label>
        <input id="price" type="number" formControlName="price" />
      </div>
      <div class="flex flex-col">
        <label for="stockAmount" class="font-semibold text-md"
          >Stock Amount</label
        >
        <input id="stockAmount" type="number" formControlName="stockAmount" />
      </div>
      <div class="flex flex-col">
        <label for="os" class="font-semibold text-md">OS</label>
        <input id="os" matInput type="text" formControlName="OS" required />
      </div>
      <div class="flex flex-col">
        <label for="disadvantage">Disadvantage</label>
        <input
          id="disadvantage"
          class="font-semibold text-md"
          type="text"
          formControlName="disadvantage"
        />
      </div>
      <div class="flex flex-col">
        <label for="screenSize" class="font-semibold text-md"
          >Screen Size</label
        >
        <input id="screenSize" type="text" formControlName="screenSize" />
      </div>
      <div class="flex flex-col">
        <label for="stockCode" class="font-semibold text-md">Stock Code</label>
        <input id="stockCode" type="text" formControlName="stockCode" />
      </div>
      <button
        type="submit"
        class="border-2 bg-slate-100 border-slate-200 hover:bg-slate-400 transition duration-200 transform ease-in-out hover:scale-105 w-28"
      >
        Add Product
      </button>
    </form>
  </div>
</div>
