<!-- <div><h1>si funciono ok??</h1></div> -->
<!-- <div class="bg-blue-500 w-full h-16 p-4 flex justify-between items-center">
  <mat-icon class="text-slate-200">menu</mat-icon>
  <h1 class="text-slate-300 text-3xl font-bold">The Geek's store</h1>
  <img [src]="'logo.jpg' | asset" class="rounded-md h-14" />
</div>
<div class="w-full mt-2 p-2">
  <h2>Icon here:</h2>
  <mat-icon fontSize="large" color="primary">menu</mat-icon>
  <mat-form-field appearance="fill">
    <mat-label>Enter your name</mat-label>
    <input matInput />
  </mat-form-field> -->
<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu> -->
<!-- </div> -->
<router-outlet></router-outlet>
