<app-loader *ngIf="isLoading"></app-loader>
<div class="flex w-full flex-col h-full p-4 bg-slate-200">
  <div class="text-slate-700">
    <app-loader *ngIf="isLoading"></app-loader>

    <div class="flex w-full flex-col h-full py-4 bg-slate-200">
      <div class="text-slate-200 flex flex-col bg-slate-500">
        <div class="grid grid-cols-2 gap-6">
          <p class="ml-4 w-24">Productos a facturar</p>
          <p>Nombre</p>
          <!-- <p *ngIf="isSelected">Cantidad</p> -->
        </div>
        <div
          *ngFor="let product of products"
          [ngClass]="{
            'justify-self-start gap-3': product.isSelected,
            'justify-self-end gap-5': !product.isSelected
          }"
          class="grid grid-cols-3 space-y-2 border-2"
        >
          <div class="border-2 border-black w-20">
            <input
              type="checkbox"
              [ngClass]="{
                'ml-16 delay-300': !product.isSelected,
                'ml-0 delay-300': product.isSelected
              }"
              class="transition duration-700 transform translate-x-[-12px] ml-6 delay-300 w-20 mt-6"
              name="isBought"
              id=""
              [(ngModel)]="product.isSelected"
            />
          </div>
          <div class="flex flex-row">
            <p
              [ngClass]="{
                'justify-self-center ': product.isSelected,
                'justify-self-end ': !product.isSelected
              }"
              class="pt-3 border-2 flex w-16 justify-start border-black"
            >
              {{ product.make }}
            </p>
            <select
              *ngIf="product.isSelected"
              [(ngModel)]="product.quantity"
              class="w-12 outline-none text-slate-700"
            >
              <option *ngFor="let num of getNumberArray(product.stockAmount)">
                {{ num }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <mat-icon fontSize="large" (click)="addProductsToInvoice()">add</mat-icon>
    </div>
    <!--******************** !Modal para la enviar la factura ********************** -->
    <!--******************** !Modal para la enviar la factura ********************** -->
    <!--******************** !Modal para la enviar la factura ********************** -->
    <!--******************** !Modal para la enviar la factura ********************** -->
    <div
      [ngClass]="{ hidden: !isModalOpen }"
      class="bg-slate-200 absolute flex top-0 h-screen w-full opacity-80"
    >
      <div
        class="z-50 absolute ml-20 mt-44 opacity-100 font-bold border-2 border-black"
      >
        <app-modal-form
          [invoice]="invoiceService.currentInvoice"
        ></app-modal-form>
        <mat-icon fontSize="large" color="primary" (click)="clearInvoice()"
          >delete</mat-icon
        >
        <!-- (click)="addProductsToInvoice()" -->
        <mat-icon fontSize="large" color="primary">check</mat-icon>
      </div>
    </div>
    <div
      *ngIf="currentInvoice"
      class="py-4 justify-between px-4 flex flex-row w-full text-slate-200 bg-gray-500 space-x-2"
      pt-2
    >
      <p class="w-24">Factura No.</p>
      <p class="bg-slate-300 rounded-md w-12 text-center text-slate-700 h-6">
        AI
      </p>
      <input
        class="text-slate-700 bg-slate-300 rounded-md text-center h-6 w-28"
        placeholder="00000003400"
        [(ngModel)]="currentInvoice.id"
      />
    </div>
    <div
      class="flex p-4 flex-col h-28 justify-center bg-slate-800 text-slate-200 items-start w-full"
    >
      <p class="">Fecha</p>
      <div class="pt-2">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Choose a date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div
      class="p-4 flex flex-row w-full bg-slate-500 space-x-2 text-slate-200 items-center"
    >
      <p class="w-20 flex">Cliente</p>
      <select
        type="select"
        class="bg-slate-600 outline-none flex items-center justify-center rounded-md w-full text-center h-8"
      >
        <option>SAN NICOLAS LOCAL 45</option>
        <option>SAN ANDRESITO LOCAL 4305</option>
        <option>LA PASARELA LOCAL 200</option>
      </select>
      <!-- <p class="bg-slate-300 rounded-md text-center h-6 w-28">00000003400</p> -->
    </div>
    <div
      class="p-4 items-center flex flex-row w-full bg-slate-500 space-x-2 text-slate-200"
    >
      <p class="">Origen Factura</p>
      <select
        type="select"
        class="bg-slate-600 flex outline-none items-center justify-center rounded-md w-full text-center h-8"
      >
        <option>DIRECTA</option>
        <option>INDIRECTA</option>
      </select>
      <input
        text="text"
        class="rounded-md text-center bg-slate-600 outline-none h-8 w-24"
        placeholder=""
      />
    </div>
    <div
      class="py-2 flex flex-row bg-slate-500 w-full text-slate-200 p-4 space-x-2"
    >
      <p class="w-20">Vendedor</p>
      <select
        type="select"
        class="bg-slate-600 flex outline-none items-center justify-center rounded-md w-full text-center h-8"
      >
        <option>CAMILO CASTRILLON</option>
        <option>DANIELA GARCIA</option>
        <option>ALEJANDRA DIAZ</option>
      </select>
    </div>
    <div
      class="p-4 flex h-20 justify-center items-center w-full bg-slate-800 text-slate-200"
    >
      <p class="mr-4">Moneda</p>
      <select
        type="select"
        class="flex items-center bg-slate-500 outline-none justify-center rounded-md w-full text-center h-8"
      >
        <option>PESO</option>
        <option>DOLAR</option>
        <option>EURO</option>
      </select>
    </div>
    <div
      class="items-center p-4 flex flex-row w-full bg-slate-500 space-x-2 text-slate-200"
    >
      <p class="w-20">Tasa de Cambio</p>
      <input
        text="text"
        class="bg-slate-700 outline-none w-full rounded-md text-center h-8"
        placeholder="Tasa de cambio"
      />
    </div>
    <div class="p-4 flex flex-row w-full bg-slate-500 space-x-2 text-slate-200">
      <p class="w-20">Documento Ref.</p>
      <select
        type="select"
        class="flex outline-none bg-slate-600 items-center justify-center rounded-md w-full text-center h-8"
      >
        <option>DOCUMENTO A</option>
        <option>DOCUMENTO B</option>
        <option>DOCUMENTO C</option>
      </select>
      <!-- <p class="bg-slate-300 rounded-md text-center h-6 w-28">00000003400</p> -->
    </div>
    <div
      class="p-4 flex bg-slate-800 space-y-4 flex-col w-full justify-center"
      pt-2
    >
      <div class="flex space-x-4 items-end">
        <p class="w-56">Forma de pago</p>
        <select
          type="select"
          class="outline-none bg-slate-500 flex items-center justify-center rounded-md text-center w-full h-8"
        >
          <option>Credito</option>
          <option>Debito</option>
          <option>Efectivo</option>
          <option>Cheque</option>
        </select>
      </div>
      <div class="flex space-x-4">
        <p class="w-56">Plazo</p>
        <input
          type="number"
          class="w-full outline-none rounded-md text-right pr-4"
          placeholder="0"
        />
      </div>
    </div>
    <div>
      <!-- ********************* !Factura final *************************** -->
      <!-- ********************* !Factura final *************************** -->
      <!-- ********************* !Factura final *************************** -->
      <div *ngIf="currentInvoice" class="m-4 border-2 border-slate-700">
        <h2 class="border-b-2 border-slate-700 font-bold">
          Detalles de Factura
        </h2>
        <p>Numero De Factura: {{ currentInvoice.id }}</p>

        <table class="w-full border-y-2 border-black">
          <thead>
            <tr class="">
              <!-- <th>Product ID</th> -->
              <th>Cantidad</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Precio</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="w-full border-y-2 border-black space-x-4"
              *ngFor="let item of currentInvoice.items; let i = index"
            >
              <!-- <td>{{ item.productId }}</td> -->
              <td class="mx-auto text-center">{{ item.quantity }}</td>
              <td class="mx-auto text-center">{{ item.make }}</td>
              <td class="mx-auto text-center">{{ item.model }}</td>
              <td class="mx-auto text-center">
                {{ item.price | currencyFormat }}
              </td>
              <mat-icon
                fontSize="large"
                (click)="removeFromInvoice(i)"
                color="primary"
                >delete</mat-icon
              >
            </tr>
          </tbody>
        </table>
        <p>Subtotal: {{ currentInvoice.subtotal | currencyFormat }}</p>
        <p>Iva: 19%</p>
        <p class="font-bold">
          Total: {{ currentInvoice.subtotal * 0.19 | currencyFormat }}
        </p>
      </div>
      <div
        class="flex items-center space-x-2 justify-center bg-slate-800 border-black flex-row h-44"
      >
        <mat-icon fontSize="120px" color="blue">edit</mat-icon>
      </div>
    </div>
  </div>
</div>
