<div class="relative flex w-full">
  <app-loader *ngIf="isLoading"></app-loader>
  <div
    *ngIf="!isLoading"
    class="h-screen w-full px-20 border-2 flex border-black"
  >
    <!-- <aside class="border-2 flex h-scren flex-col border-black w-1/4">
    <h2 class="mb-20">Menu</h2>
    <div class="flex flex-col justify-between">
      <p class="mb-6 border-2 border-black">My profile</p>
      <p class="mb-6 border-2 border-black">Catalog</p>
      <p class="mb-2 border-2 border-black">CartIcon</p>
    </div>
  </aside> -->
    <p class="w-">dashboard works!</p>
  </div>
  <div class="absolute flex top-[50%] ml-[50%] border-2 border-black w-full">
    <app-modal-form [invoice]="invoiceService.currentInvoice"></app-modal-form>
  </div>

  <!-- *ngIf="showInvoiceModal" -->
</div>
